<div class="bs-docs-section">

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="containers">Orders</h1>
      </div>
      <div class="bs-component">
        <kendo-grid [data]="gridData" [height]="410" [rowClass]="rowCallback">
          <kendo-grid-column field="symbol" title="Symbol" width="20" [class]="{'codeColumn': true}"></kendo-grid-column>
          <kendo-grid-column field="name" title="Name" width="30" [class]="{'codeColumn': true}"></kendo-grid-column>
          <kendo-grid-column field="quality" title="Quality" width="10" [class]="{'codeColumn': true}"></kendo-grid-column>
          <kendo-grid-column field="price" title="Price" width="10" [class]="{'codeColumn': true}"></kendo-grid-column>
          <kendo-grid-column field="status" title="Status" width="10" [class]="{'codeColumn': true}"></kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>